<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Create item</title>
</head>
<body class="container bg-light">
    <header>
        <h1>Create a new wish list item</h1>
        <a href="/dashboard" class="btn btn-primary">Home</a>
        <a href="/logout" class="btn btn-secondary ">Logout</a>
    </header>
    <section>
        <form action="/wish_item/create" method="post">
            {% csrf_token %}
            <h4>item/product</h4>
            <input type="text" name="item">
            <input type="hidden" name="user" value="{{user.id}}">
            <input type="submit" value="Add" class="btn btn-primary">
        </form>
    </section>
</body>